@charset "UTF-8";
a {
  display: block;

  /* 横幅 */
  width: 200px;

  /* 外がわの余白　左右をautoにすると、左右同じ幅の余白が自動でとられる→真ん中に位置する */
  margin: 40px auto;

  /* 内側の余白　１文字分開けている */
  padding: 1em;

  /* ↓文章の真ん中揃え */
  text-align: center;
}

@media screen and (min-width: 960px) {
  /* マウスカーソルを重ねた時 */
  a:hover {
    /* 不透明度７０％ */
    opacity: 0.7;
  }
}

a.text-link {
  color: #008000;
  text-decoration: underline;
}

a.button-link {
  background-color: #ffd700;
  text-decoration: none;
  color: #ff4500;

  /* 文字フォントのサイズの指定 */
  font-size: 20px;
}
a.button-link2 {
  background-color: #1e90ff;
  text-decoration: none;
  color: #fff;
  font-size: 20px;

  /* 角丸の設定 */
  border-radius: 10px;

  /* 境界線を引く（bottom=下の辺のみの指定） */
  border-bottom: 4px solid #191970;
}

/* マウスカーソルを載せた時（1/21の授業の最後に試したコード） */
/* a.text-link:hover {
  color: #c8fc59;
  text-decoration: underline;
} */
