@charset "UTF-8";
div {
  width: 100px;
  height: 100px;
  padding: 1em;
  margin: 2em 2em 4em;
  background: #ad4444;
  color: #fff;
  font-size: 14px;
}

/* ＋追加設定 animation ７つめの設定 forwards */
/* アニメーションが終わった後の表示状態を保ったままになる */
/* 最初の状態に戻る、なども設定できる */
/* animation の設定できる項目　参考サイト⇒ https://b-risk.jp/blog/2021/01/anim-reference/ */
.sample1 {
  animation: zigzag 2s ease 0s 3 normal forwards;
}
@keyframes zigzag {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}

.sample2 {
  animation: scale-and-color 4s linear 0s infinite alternate;
}
@keyframes scale-and-color {
  0% {
    background: #ad4444;
    transform: scale(1);
  }

  /* キーフレームはたくさん作って大丈夫です */
  /* いろいろ試してみましょう */
  /* 25% {
    background: #e211bb;
    transform: scale(2);
  } */

  50% {
    background: #3946ad;
    transform: scale(1.5);
  }
  100% {
    background: #4dad48;
    transform: scale(1);
  }
}

img {
  width: 100px;
  margin-right: 2em;
}

.sample3 {
  animation: loading 1s linear 0s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sample4 {
  animation: heart 0.8s ease 0s infinite normal;
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  8% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
