@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  height: 80vh;
  margin-bottom: 20vh;
}

.bg-001 {
  /* 位置決めに使う単語（値）の種類⇒ top bottom left right center */
  background: url("../img/bg-stripe.png") left center repeat;
}
.bg-002 {
  background: #98807b url("../img/bg-cat.png") center bottom no-repeat;
}
