@charset "UTF-8";
* {
  box-sizing: border-box;
}

ul {
  border: 10px solid #aae5e7;
  padding: 1em 1em 0;

  /* リストのマーカーの設定（noneはマーカーが無しになる） */
  list-style: none;
}

ul li {
  border-bottom: 4px dotted #6baeb3;
  margin-bottom: 1em;
}
