@charset "UTF-8";
/* 全体の設定 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  /* background: #ffcccc; */
  width: 90%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 40px auto 0;
  border: 1px dashed #ccc;
  text-align: center;
}

h2 {
  margin-bottom: 1em;
}

/* dlタグ内の設定 */
.flex-container {
  /* flexで横並びのレイアウトになる */
  display: flex;

  /* 子要素の並ぶ際の「余白の取り方」の設定 */
  justify-content: space-around;
}

.flex-item {
  background: #09b;
  color: #fff;
  padding: 1em;

  /* 子要素の基本幅設定 */
  flex-basis: 30%;
}

.flex-item dt {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* モバイル用設定 */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.1em;
  }
  .flex-container {
    /* 子要素たちを縦並びにする。横並びにする時はrowを設定 */
    flex-direction: column;
  }

  .flex-item {
    margin: 0 1em 1em;
  }
}
