@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  background-color: #dee6de;
  color: #666666;
  line-height: 1.7;
}

article {
  background-color: #ffffff;
  box-shadow: 0px 5px 30px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  margin: 64px auto;
  width: 80%;
  max-width: 50rem;
  min-width: 580px;
}
h1 {
  color: #2ba32b;
  line-height: 2;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 3rem;
}
h2 {
  color: #2ba32b;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h3 {
  color: #2ba32b;
  margin-bottom: 1rem;
}
ul {
  margin: 1.5rem;
  list-style-type: disc;
}

a {
  color: #2ba32b;
}

.test {
  background: #000;
}
