* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 複数のdivを使う時、全部のdivが変化しないように */
/* class名をつけたり、入れ子構造のセレクタで設定尾する必要があります */
div.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper div {
  background: red;
  width: 320px;
  height: 320px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
