* {
  padding: 0;
  margin: 0;
}

div {
  width: 300px;
  height: 300px;
  margin: 100px auto 0 auto;
  border-radius: 9999px;
  background-color: tomato;
}

p {
  text-align: center;
  line-height: 300px;
}
