* {
  padding: 0;
  margin: 0;
}

div {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  background-color: tomato;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
