@charset "UTF-8";
/* ページ全体 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* スマートフォン用サイズ */
.bg-hero {
  background: url("../img/bg-hero-sp.jpg") center bottom no-repeat;
  height: 80vh;
  background-size: cover;
}
.bg-info {
  color: #ffffff;
  padding: 20% 7% 0;
}

.bg-hero h1 {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: 1.625rem;
}

.bg-hero p {
  line-height: 1.8;
  font-size: 0.875rem;
}

/* スマートフォン用設定ここまで */

/* タブレット用 */
@media screen and (min-width: 600px) {
  .bg-hero {
    background-image: url("../img/bg-hero-pc.jpg");
  }
  .bg-info {
    padding: 10% 18%;
  }
  .bg-hero h1 {
    font-size: 1.875rem;
  }
  .bg-hero p {
    font-size: 1rem;
  }
}
/* タブレット用　ここまで */

/* PCサイズ表示ここから */
@media screen and (min-width: 960px) {
  .bg-hero {
    position: relative;
  }
  .bg-info {
    padding: 0;
    width: 40%;
    position: absolute;
    top: 20%;
    left: 120px;
  }

  .bg-hero h1 {
    text-align: left;
  }
  .bg-info p {
    font-size: 1rem;
  }
}
/* PCサイズ表示　ここまで */
